@import 'vendor/lesshat.less';
@import 'lib/mixins.less';


// fonts

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@ptSansNarrow: {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 400;
};

@ptSansNarrowBold: {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
};


// basic layout

h1 {
  @ptSansNarrowBold();
  font-size: 36px;
  text-align: center;
  margin: 4em 0 0.5em;
  text-align: center;
}
