extends ../layouts/layout.jade

block title
  title Documentation | Lockstep.js

block page-nav
  li
    a(href="get-started.html") Get Started
  li
    a.selected Docs
  li
    a(href="examples.html") Examples
  li
    a(href="features.html") Features

block content
  h2 Documentation
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorum porro quo excepturi laudantium magni atque iure quam officiis doloremque aperiam, quasi! Quae itaque soluta temporibus, earum ratione nemo harum!
  p Repellat iusto laboriosam, modi totam maiores pariatur dolores laborum, sunt unde nam explicabo sequi error cumque molestiae cupiditate earum, vero aliquam aut. Fuga consequuntur voluptate doloremque quos iste optio sapiente, numquam, eius deserunt at iusto maiores porro dolore. Laboriosam, repellat architecto repudiandae sequi deleniti.
  pre(data-src="../snippets/javascript/1.js")
  p Assumenda accusantium cum a corrupti beatae unde doloribus tempore, aut saepe sunt voluptas molestiae illum, obcaecati libero atque natus velit exercitationem voluptates?
  p(data-height="250", data-theme-id="0", data-slug-hash="futik", data-default-tab="result", data-user="troywarr", class="codepen")
    See the Pen #[a(href="http://codepen.io/troywarr/pen/futik/") futik] by Troy Warr (#[a(href="http://codepen.io/troywarr") @troywarr]) on [a(href="http://codepen.io") CodePen].
  script(async, src="//codepen.io/assets/embed/ei.js")
