extends ../layouts/layout.jade



block title
  title Examples | Lockstep.js

block page-nav
  li
    a(href="get-started.html") Get Started
  li
    a(href="documentation.html") Docs
  li
    a.selected Examples
  li
    a(href="features.html") Features

block article
  section
    h2#examples Examples
    pre(data-src="../snippets/javascript/1.js")
    p Assumenda accusantium cum a corrupti beatae unde doloribus tempore, aut saepe sunt voluptas molestiae illum, obcaecati libero atque natus velit exercitationem voluptates?
    +codepen('bofDe')

block aside
  section
