extends ../layouts/layout.jade

block title
  title Examples | Lockstep.js

block page-nav
  li
    a(href="get-started.html") Get Started
  li
    a(href="documentation.html") Docs
  li
    a.selected Examples
  li
    a(href="features.html") Features

block article
  section
    h2#examples Examples
    pre(data-src="../snippets/javascript/1.js")
    p Assumenda accusantium cum a corrupti beatae unde doloribus tempore, aut saepe sunt voluptas molestiae illum, obcaecati libero atque natus velit exercitationem voluptates?
    p(data-height="250", data-theme-id="0", data-slug-hash="futik", data-default-tab="result", data-user="troywarr", class="codepen")
      See the Pen #[a(href="http://codepen.io/troywarr/pen/futik/") futik] by Troy Warr (#[a(href="http://codepen.io/troywarr") @troywarr]) on [a(href="http://codepen.io") CodePen].
    script(async, src="//codepen.io/assets/embed/ei.js")

block aside
  section
