extends ../layouts/layout.jade

block title
  title Examples | Lockstep.js

block page-nav
  li
    a(href="get-started.html") Get Started
  li
    a(href="documentation.html") Docs
  li
    a.selected Examples
  li
    a(href="features.html") Features

block content
  h2 Examples
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorum porro quo excepturi laudantium magni atque iure quam officiis doloremque aperiam, quasi! Quae itaque soluta temporibus, earum ratione nemo harum!
