mixin codepen(slug)
  p(data-height="250", data-theme-id="0", data-slug-hash=slug, data-default-tab="result", data-user="troywarr", class="codepen")
    | See the Pen #[a(href="http://codepen.io/troywarr/pen/#{slug}/")= slug] by Troy Warr (#[a(href="http://codepen.io/troywarr") @troywarr]) on [a(href="http://codepen.io") CodePen].
  script(async, src="//codepen.io/assets/embed/ei.js")
